/* Estilos globales */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; /* Aplica Montserrat como fuente principal */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6; /* (Opcional) Mejora la legibilidad con un interlineado cómodo */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; /* Fuente para código permanece igual */
}
